<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
    <div class="table-data">
    <table border="1" >
        <tr>
            <th>Sr. No.</th>
            <th>Domain</th>
            <th>Footprint</th>
            <th>Green</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.domain %></td>
            <td><%=data.footprint %></td>
            <td><%=data.green %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>